if currentUser
  .ui.doubling.stackable.grid.container.top-margin
    .sixteen.wide.column
      .ui.message#welcome
        with banner
          i.close.icon
          .header= title
          p= content
    .twelve.wide.column
      +Template.dynamic template=main
    .four.wide.column
      +Template.dynamic template=top
    .sixteen.wide.column.top-margin
      .ui.progress#site-progress(data-percent='25')
        .bar
          .progress
        .label Site Progress
      script $('#site-progress').progress()
else
  .ui.container.top-margin
    +Template.dynamic template=main
