if Template.subscriptionsReady
  if hasParent
    with parent
      .ui.comments
        .comment
          a.avatar(href='/u/#{user.username}')
            img(src='{{gravatar user.email}}')
          .content
            a.author(href='/u/#{user.username}')= user.username
            .metadata
              a.date#update-link(href='/s/#{_id}')= relDate
            .text!= parseMentions
  .ui.basic.segment
    with update
      .ui.link.items
        a.item(href='/u/#{user.username}')
          .ui.tiny.image
            img(src='{{gravatar user.email}}')
          .middle.aligned.content
            .header= user.username
            .description.grey on {{timestamp createdAt}}
    
      h1#single-update-content!= parseMentions
      
  if currentUser
    br
    form.ui.form#submitReply
      .field
        textarea(name='reply' rows='3' placeholder='Type your reply...')
      button.ui.button(type='submit') Reply
  
  if hasChildren
    .ui.comments
      each children
          .comment
            a.avatar(href='/u/#{user.username}')
              img(src='{{gravatar user.email}}')
            .content
              a.author(href='/u/#{user.username}')= user.username
              .metadata
                a.date#update-link(href='/s/#{_id}')= relDate
              .text!= parseMentions
else
  +spinner
