if Template.subscriptionsReady
  .ui.large.feed
    each updates
      .event
        .label 
          //- 'user' in this context is the sub-document stored in every
          //- update document, it provides basic info about the update creator
          a(href='/u/#{user.username}') #[img(src='{{gravatar user.email}}')]
        .content
          a.summary(href='/u/#{user.username}') @#{user.username}
          a.date#timeline-update-link(href='/s/#{_id}')= relDate
          .extra.text= content
      hr(style='border: 0; border-bottom: 1px lightgray solid;')
else
  +spinner
