if Template.subscriptionsReady
  .ui.large.feed
    each updates
      .event
        .label 
          a(href='/u/#{user.username}') #[img(src='{{gravatar user.email}}')]
        .content
          a.summary(href='/u/#{user.username}') @#{user.username}
          span.date= relDate
          .extra.text= content
      hr(style='border: 0; border-bottom: 1px lightgray solid;')
else
  i.notched.circle.loading.icon
