if Template.subscriptionsReady
  .ui.doubling.stackable.grid
    with user
      .two.wide.column
        img(src='{{gravatar 100}}' width='100' height='100')
      .fourteen.wide.column
        h1.ui.header= username
        p#profile-bio= profile.bio
    .sixteen.wide.column.ui.feed
      each updates
        .event
          .label #[i.pencil.icon]
          .content
            span.summary @#{user.username}
            span.date= relDate
            .extra.text= content
        hr(style='border: 0; border-bottom: 1px lightgray solid;')
else
  i.notched.circle.loading.icon
