if Template.subscriptionsReady
  .ui.doubling.stackable.grid
    with user
      .two.wide.column
        a(href='#')#toggle-modal #[img(src='{{gravatar 100}}' width='100' height='100')]
      .eleven.wide.column
        h1.ui.header#profile-username
          | #{username}
          if isVerified
            .ui.circular.teal.label #[i.checkmark.icon.verified]
        if profile.bio
          p#profile-bio= profile.bio
        else
          p#profile-bio has no bio :(
        p#profile-bio-follow
          | #[b #{followersCount}] followers
          | #[b #{followingCount}] following
      .three.wide.column
        //- checks if the user on page is followed by the logged in user
        if userIsCurrent
          button.ui.button#edit-profile Edit profile
        else
          if isFollowedByCurrent
            button.ui.red.button#unfollow-button Unfollow
          else
            button.ui.primary.button#follow-button Follow
      .ui.basic.modal#profile-image-modal
        .header #{username}
        .image.content
          img.medium.image(src='{{gravatar 500}}')
    .sixteen.wide.column.ui.feed
      each updates
        .event
          .label #[i.pencil.icon]
          .content
            span.summary @#{user.username}
            a.date#timeline-update-link(href='/s/#{_id}')= relDate
            .extra.text= content
        hr(style='border: 0; border-bottom: 1px lightgray solid;')
    if hasMore
      button.ui.red.button#paginate Load more
else
  +spinner
